.hero {
  height: var(--clamphero);
  position: relative;
  .hero-imgs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    // Mobile

    & > .hero-imgs-hero {
      margin-top: 0;
      background-image: url("../images/header.jpg");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: var(--clampimg);
    }
    .hero-imgs-dots {
      position: relative;
      margin-top: 0;
      width: 100%;
      height: var(--clampdots);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: $primary;

      #dots {
        position: absolute;
        width: 30vw;
        height: 50%;
        bottom: 1%;
        right: 4%;
        background-position: bottom;
        background-repeat: no-repeat;
        color: $sub1;
        background-size: contain;
      }
    }
  }

  .hero-content {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    bottom: 5%;
    left: 5%;
    color: $accent;

    h2 {
      margin: 0 0 -0.7rem;
      padding: 0;
    }
    h1 {
      margin: 0 0 0.7rem;
      padding: 0;
    }
    h3 {
      padding: 0.3rem;
      background-color: $sub1;
      width: 210px;
    }
  }
}

// mobile-sm
@media screen and (min-width: $mobile-sm) and (min-height: 562px) {
  .hero {
    height: var(--clampherosm);
  }
  .hero-img-hero {
    height: var(--clampimgsm);
  }
  .hero > .hero-imgs > .hero-imgs-dots {
    position: relative;
    margin-top: 0;
    width: 100%;
    height: var(--clampdotsm);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $primary;

    #dots {
      position: absolute;
      width: 30vw;
      height: 50%;
      bottom: 1%;
      right: 4%;
      background-position: bottom;
      background-repeat: no-repeat;
      color: $sub1;
      background-size: contain;
    }
  }
}

// Tablet
@media screen and (min-width: $tab-sm) and (min-height: 478px) {
  .hero {
    height: var(--clampherotab);
  }
  .hero > .hero-imgs {
    flex-direction: row;
    .hero-imgs-hero {
      order: 1;
      width: 60%;
      height: 100%;
    }
    .hero-imgs-dots {
      order: 0;
      background-color: $primary;
      width: 40%;
      height: 100%;

      #dots {
        top: 6%;
        left: 1.5%;
        width: 30vw;
        height: 35%;
      }
    }
  }

  .hero > .hero-content {
    bottom: 12%;
    left: 10%;
    color: $accent;

    h2 {
      margin: 0 0 -0.7rem;
      padding: 0;
    }
    h1 {
      margin: 0 0 0.7rem;
      padding: 0;
    }
    h3 {
      padding: 0.3rem;
      background-color: $sub1;
      width: 210px;
    }
  }
}

@media screen and (min-width: $tab-sm) and (min-height: 800px) {
  .hero {
    height: var(--clampherotablg);
  }
}
