.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  background: transparent;

  #Nav-logo {
    display: flex;
    justify-content: center;
    color: $accent;
    width: 40%;
    font-family: $font1;
    font-size: var(--clamph2);
  }

  &-menu-wrapper {
    display: flex;
    width: 60%;
    justify-content: center;
    .Nav-menu {
      display: flex;
      list-style: none;

      .Nav-menu-items {
        padding-right: 0.8rem;
        cursor: pointer;
        color: $text-color;
        text-transform: uppercase;

        &:nth-child(5) {
          padding-right: 0;
        }

        &:hover {
          color: $sub1;
        }

        .active {
          padding-bottom: 0.4rem;
          border: 1px solid $accent;
        }

        .menu-links {
          font-size: var(--clamph2);
        }
      }
    }
  }

  &-mb-menu {
    display: none;
  }
}

@media screen and (max-width: $mobile-menu) {
  .Nav {
    position: relative;
    height: 3rem;
    .Nav-menu-wrapper {
      position: absolute;
      display: grid;
      align-items: center;
      z-index: 10;
      top: 2.5rem;
      margin: 0;
      left: -100vw;
      width: 40%;
      height: calc(100vh - 2.55rem);
      background-color: $sub2;
      @include transition-slow;

      &.active {
        left: 0;
        z-index: 10;
        @include transition-slow;
      }
      .Nav-menu {
        display: grid;
        justify-items: center;

        & > .Nav-menu-items {
          width: 100%;
          padding: 1.5rem 0;
          transform: translateX(-100vw);
          @include transition-ease;
          &.active {
            transform: translateX(0vw);
          }
        }
      }
    }
    .Nav-mb-menu {
      display: flex;
      padding-right: 2rem;
      @include transition-slow;

      ion-icon {
        font-size: 2.1rem;
        color: $glass;
        @include transition-ease;
        &:hover {
          color: $accent;
        }
      }
    }
  }
}

@for $i from 1 to 6 {
  .Nav-menu > .Nav-menu-items.active:nth-child(#{$i}) {
    transition-delay: ($i * 0.3s) + 0.15s;
  }
}
