.tools {
  width: 100%;
  height: auto;
  text-align: center;

  .tools-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 3rem;
    #tools {
      font-size: 30rem;
    }
  }
}

@media screen and (min-width: 695px) {
  .tools {
    .tools-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
      justify-content: center;
      align-items: center;
      padding: 0;

      #tools {
        font-size: 20rem;
        align-self: center;
        justify-self: center;
      }
    }
  }
}
