@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Texturina:wght@200&family=Yeon+Sung&display=swap");

@import "./variables";
@import "./_navigation";
/* 
font-family: 'Texturina', serif;
font-family: 'Yeon Sung', cursive; 
font-family: 'Dancing Script', cursive;
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: $body-color;
}

h1,
h2 {
  font-family: $font1;
}
h3,
h4,
p {
  font-family: $font2;
}
h1 {
  font-size: var(--clamph1);
}
h2 {
  font-size: var(--clamph2);
}
h3 {
  font-size: var(--clamph3);
}
h4,
p {
  font-weight: weight(regular);
  line-height: 1.5;
  letter-spacing: 0.1rem;
  font-size: var(--clampP);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.row {
  margin: 4em 20px;
}
.overlay::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 90%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
